In [1]:
import pandas as pd

In [53]:
nb = pd.read_csv('../data/zipcode-neighborhood.csv')
nb.dropna(inplace=True)
# nb.rename({nb.columns[-1]: 'zipcode'}, axis=1, inplace=True)
nb.columns = ['neighborhood', 'zipcode']
nb.head()

                  neighborhood                      zipcode
2               Central Bronx          10453, 10457, 10460
3      Bronx Park and Fordham          10458, 10467, 10468
4  High Bridge and Morrisania          10451, 10452, 10456
5  Hunts Point and Mott Haven   10454, 10455, 10459, 10474
6   Kingsbridge and Riverdale                 10463, 10471

In [54]:
nb = pd.DataFrame(nb.zipcode.str.split(',').tolist(), index=nb.neighborhood).stack().reset_index()[[0, 'neighborhood']]
nb.columns = ['zipcode', 'NTAName']
nb = nb.astype({'NTAName': 'str', 'zipcode': 'int32'})
nb.head()

   zipcode                  NTAName
0    10453           Central Bronx
1    10457           Central Bronx
2    10460           Central Bronx
3    10458  Bronx Park and Fordham
4    10467  Bronx Park and Fordham

In [55]:
income = pd.read_csv('../data/income_by_zip.csv')
income.head()

   zipcode         income  count
0    10001   90123.859192  15340
1    10002   49565.500118  42290
2    10003  105379.965458  28950
3    10004  125204.081633   2450
4    10005  116744.087838   5920

In [68]:
nb.shape

(178, 2)

In [63]:
df = nb.merge(income, left_on='zipcode', right_on='zipcode')
df.NTAName.unique()

array(['Central Bronx ', 'Bronx Park and Fordham ',
       'High Bridge and Morrisania ', 'Hunts Point and Mott Haven ',
       'Kingsbridge and Riverdale ', 'Northeast Bronx ',
       'Southeast Bronx ', 'Central Brooklyn ', 'Southwest Brooklyn ',
       'Borough Park ', 'Canarsie and Flatlands ', 'Southern Brooklyn ',
       'Northwest Brooklyn ', 'Flatbush ', 'East New York and New Lots ',
       'Greenpoint ', 'Sunset Park ', 'Bushwick and Williamsburg ',
       'Central Harlem ', 'Chelsea and Clinton ', 'East Harlem ',
       'Gramercy Park and Murray Hill ', 'Greenwich Village and Soho ',
       'Lower Manhattan ', 'Lower East Side ', 'Upper East Side ',
       'Upper West Side ', 'Inwood and Washington Heights ',
       'Northeast Queens ', 'North Queens ', 'Central Queens ',
       'Jamaica ', 'Northwest Queens ', 'West Central Queens ',
       'Rockaways ', 'Southeast Queens ', 'Southwest Queens ',
       'West Queens ', 'Port Richmond ', 'South Shore ',
       'Stapleton and St. George ', 'Mid-Island '], dtype=object)

In [57]:
df.to_csv('income_by_neighborhood.csv', index=False)