In [1]:
import pandas as pd

In [2]:
# nb = pd.read_csv('../data/zipcode-neighborhood.csv')
# nb.dropna(inplace=True)
# # nb.rename({nb.columns[-1]: 'zipcode'}, axis=1, inplace=True)
# nb.columns = ['neighborhood', 'zipcode']
# nb.head()

                  neighborhood                      zipcode
2               Central Bronx          10453, 10457, 10460
3      Bronx Park and Fordham          10458, 10467, 10468
4  High Bridge and Morrisania          10451, 10452, 10456
5  Hunts Point and Mott Haven   10454, 10455, 10459, 10474
6   Kingsbridge and Riverdale                 10463, 10471

In [4]:
# nb = pd.DataFrame(nb.zipcode.str.split(',').tolist(), index=nb.neighborhood).stack().reset_index()[[0, 'neighborhood']]
# nb.columns = ['zipcode', 'NTAName']
# nb = nb.astype({'NTAName': 'str', 'zipcode': 'int32'})
# nb.head()

In [19]:
nb = pd.read_csv('../data/nynta_zip.csv')
nb = nb.dropna(axis=1)
nb = nb[nb['zipcode'] != '#ERROR!']
nb['zipcode'] = nb['zipcode'].astype('int')
nb.head()

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area,address,lat,lon,zipcode
0,3,Brooklyn,47,BK88,Borough Park,39247.22783,54005019.05,"Borough Park, Brooklyn, NY, USA",40.6350319,-73.9921028,11219
1,4,Queens,81,QN51,Murray Hill,33266.90480,52488277.85,"Murray Hill, Queens, NY, USA",40.7634996,-73.8073261,11358
2,4,Queens,81,QN27,East Elmhurst,19816.71207,19726845.63,"East Elmhurst, Queens, NY, USA",40.7737505,-73.8713099,11371
3,4,Queens,81,QN07,Hollis,20976.33557,22887772.87,"Hollis, Queens, NY, USA",40.7112203,-73.762495,11423
4,1,Manhattan,61,MN06,Manhattanville,17040.68541,10647077.53,"Manhattanville, New York, NY 10027, USA",40.8169443,-73.9558333,10027

In [20]:
nb.shape

(191, 11)

In [21]:
income = pd.read_csv('../data/income_by_zip.csv')
income.head()

   zipcode         income  count
0    10001   90123.859192  15340
1    10002   49565.500118  42290
2    10003  105379.965458  28950
3    10004  125204.081633   2450
4    10005  116744.087838   5920

In [22]:
income.shape

(1536, 3)

In [24]:
df = nb.merge(income, left_on='zipcode', right_on='zipcode')
df.head()

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area,address,lat,lon,zipcode,income,count
0,3,Brooklyn,47,BK88,Borough Park,39247.22783,54005019.05,"Borough Park, Brooklyn, NY, USA",40.6350319,-73.9921028,11219,36930.641822,33810
1,4,Queens,81,QN51,Murray Hill,33266.90480,52488277.85,"Murray Hill, Queens, NY, USA",40.7634996,-73.8073261,11358,55965.909091,19360
2,4,Queens,81,QN41,Fresh Meadows-Utopia,22106.43127,27774853.42,"Utopia Pkwy, Queens, NY, USA",40.7555136,-73.7926329,11358,55965.909091,19360
3,4,Queens,81,QN07,Hollis,20976.33557,22887772.87,"Hollis, Queens, NY, USA",40.7112203,-73.762495,11423,48130.689207,15380
4,1,Manhattan,61,MN06,Manhattanville,17040.68541,10647077.53,"Manhattanville, New York, NY 10027, USA",40.8169443,-73.9558333,10027,54169.668588,27760

In [28]:
nb.to_csv('../data/nynta_zip_cleaned.csv', index=False)