# Guiding questions

_To get the right answers, ask the right questions._

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Findings

In [140]:
data_path = '../data/ny-income-2017.csv'

### preprocessing

In [141]:
df = pd.read_csv(data_path, skiprows=13)

df = df.drop(df.columns[3:], axis=1)
df = df[:-18]

df.columns = ['zipcode', 'income', 'count']

df['income'].replace({
    '$1 under $25,000': 12500,
    '$25,000 under $50,000': 37500,
    '$50,000 under $75,000': 62500,
    '$75,000 under $100,000': 87500,
    '$100,000 under $200,000': 150000,
    '$200,000 or more': 200000
}, inplace=True)

# remove **
df['count'] = df['count'].str.replace(',', '0')
df['count'] = df['count'].str.replace('\D+', '0')
df['count'] = df['count'].fillna(0).astype(np.int)

df.dropna(inplace=True)
df['zipcode'] = df['zipcode'].astype(np.int)
df.reset_index(inplace=True, drop=True)

df.head()

/Users/Mike/.local/share/virtualenvs/hospital-data-9tlSfpDB/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   zipcode    income  count
0    10001   12500.0   3640
1    10001   37500.0   2540
2    10001   62500.0   2020
3    10001   87500.0   1480
4    10001  150000.0   2920

In [156]:
df['product'] = df['income'] * df['count']
df.head()
df2 = df.groupby('zipcode').sum()#.reset_index()
df2['income'] = df2['product'] / df2['count']
df2.head()

                income  count       product
zipcode
10001     90123.859192  15340  1.382500e+09
10002     49565.500118  42290  2.096125e+09
10003    105379.965458  28950  3.050750e+09
10004    125204.081633   2450  3.067500e+08
10005    116744.087838   5920  6.911250e+08

In [161]:
df3 = df2[['income', 'count']]
df3.to_csv('../data/income_by_zip.csv')